<h2>Login</h2>
<form role="form" name="LoginForm" method="post" ng-submit="login()" class="inset">
  <md-input-container>
    <label> email </label>
    <md-input type="email"  ng-model="email" placeholder="Your login email" required/>
  </md-input-container>

  <md-input-container>
    <label> password </label>
    <md-input type="password"  ng-model="password" placeholder="Your password" required/>
  </md-input-container>

  <div layout="row" layout-align="center">
    <md-button type="submit" class="md-raised md-primary"  ng-disabled="LoginForm.$invalid">Login</md-button>
  </div>
  <p> <small>Don't have an account yet? <a ui-sref="auth.signup">Sign up</a></small> </p>
  <p class="text-center">
    <a href="#">Forgot your password?</a>
  </p>

</form>





