<md-subheader class="md-primary"><h2>Registration Confirmation</h2></md-subheader>

<form role="form" name="LoginForm" method="post" ng-submit="updateProfile()" class="inset">
  <md-input-container>
    <label> email </label>
    <md-input type="email"  ng-model="email" placeholder="Your login email" required/>
  </md-input-container>

  <md-input-container>
    <label> password </label>
    <md-input type="password"  ng-model="password" placeholder="Your password" required/>
  </md-input-container>

  <div layout="row" layout-align="center">
    <md-button type="submit" class="md-raised md-primary"  ng-disabled="LoginForm.$invalid">Login</md-button>
  </div>
  <p> <small>Don't have an account yet? <a ui-sref="auth.signup">Sign up</a></small> </p>
  <p class="text-center">
    <a href="#">Forgot your password?</a>
  </p>

</form>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Display Name</label>
          <input type="text" class="form-control" ng-model="user.displayName" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>
</div>
