<h2>Signup</h2>
<form method="post" ng-submit="signup()" name="signupForm" class="inset">

  <md-input-container flex>
    <label> Name</label>
    <input type="text" name="displayName" ng-model="displayName" placeholder="Name" required autofocus>
    <div ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
      <div ng-message="required">You must enter your name.</div>
    </div>
  </md-input-container>


  <md-input-container>
    <label> Email </label>
    <input type="email" id="email" name="email" ng-model="email" placeholder="Email" required
           ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
    <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
      <div ng-message="required">Your email address is required.</div>
      <div ng-message="pattern">Your email address is invalid.</div>
    </div>
  </md-input-container>


  <md-input-container>
    <label> Password </label>
    <input password-strength  type="password" name="password" ng-model="password" placeholder="Password" required>
    <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
      <div ng-message="required">Password is required.</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label> Confirm password </label>
    <input password-match="password" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
    <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
      <div ng-message="compareTo">Password must match.</div>
    </div>

  </md-input-container>

  <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p>

  <md-button type="submit" ng-disabled="signupForm.$invalid" class="md-button md-raised md-primary">Sign up</md-button>
  <br/>

  <p class="text-center text-muted">Already have an account? <a href="/#/login">Log in now</a></p>
</form>

