<form role="form" name="RegistrationForm" class="inset">

  <md-input-container>
    <label> Email </label>
    <md-input type="email"  ng-model="user.email" placeholder="Enter a valid email" required/>
  </md-input-container>
  <div ng-show="RegistrationForm.email.$error.required">Password is required</div>


  <div layout layout-sm="column">
    <md-input-container flex>
      <label>First Name</label>
      <input name="firstName" ng-model="user.first_name" placeholder="First Name" required>
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input name="lastName" ng-model="user.last_name" placeholder="Last Name" required>
    </md-input-container>
  </div>

  <md-input-container>
    <label> Password </label>
    <md-input type="password"  name="password" ng-model="user.password" placeholder="Create password" required></md-input>
  </md-input-container>

  <md-input-container>
    <label> Confirm password </label>
    <md-input type="password" name="confirm_password" ng-model="password_confirm" placeholder="Confirm password" required data-password-verify="user.password"/>
  </md-input-container>

  <div layout="row" layout-align="center">
    <md-button type="submit" class="md-raised md-primary" ng-click="createUser()" ng-disabled="RegistrationForm.$invalid">Register</md-button>
  </div>


</form>
